.Section 
    position: relative
    padding: 120px 0
    width: 100%
    display: flex

.Container
    background-image: url(../../images/background-about.png)
    padding: 60px 0
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    @media screen and (min-width: 1124px)
        align-items: start
        padding: 120px 0
        border-top-right-radius: 50px
        border-bottom-right-radius: 50px
        max-width: 60%

.TextCont 
    // padding-left: 60px
    // margin: 0 auto
    margin-bottom: 35px 
    @media screen and (min-width: 1124px) 
        padding-left: 15px   
        margin-bottom: 0 
    @media screen and (min-width: 1420px)
        padding-left: 120px
    @media screen and (min-width: 1850px)
        padding-left: 40%

.Heading
    font-weight: 600
    font-size: 32px
    line-height: 48px

.Text
    color: #7E7D7A
    max-width: 350px
    margin-top: 15px
    font-weight: 400
    font-size: 18px
    line-height: 27px

.ListBtnsCont
    display: flex
    flex-direction: column
    align-items: center
    // align-self: center
    @media screen and (min-width: 1124px)
        position: absolute
        bottom: 30%
        right: 10%


.BtnCont
    display: flex
    flex-direction: row

    margin-top: 10px

.Btn
    padding: 10px
    background: #fafafa
    @media screen and (min-width: 1124px)
        background-color: #eec68b
    &Active
        background: #FF902B
    border-radius: 15px
    &:not(:last-child)
        margin-right: 13px
    